body {
    background-color: #ffffff;
}

a {
    font-family: 'Chelsea Market', cursive;
}

h1 {
    font-family: 'Playfair Display', serif;
}

h2 {
    font-family: 'Roboto Mono', monospace;

}

p {
    font-family: 'Tenali Ramakrishna', sans-serif;
    font-size: 30px;
}

.social {
    text-align: center;
    padding: 20px 20px;
}   

.attribution {
    text-align: center;
}

.media {
    text-align: center;
    padding: 50px 50px;
}

.g, .d {
    text-align: center;
    padding: 20px 5px;
} 


.f, .b {
    text-align: center;
    padding: 20px 10px;
}

@media (max-width: 1300px) {
    .media {
        text-align: center;
        position: static;
    }
}